@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    background: #004dd1;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', sans-serif;
}

.container{
    margin: 100px;
    background-color: #00348f;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

button{
    width: 350px; height: 350px; 
    background-color: #00276b;
    border-radius: 50%; 
    border: none;
    margin-top: 40px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 30px;
    position:static;
}

button>img{
    scale: 2.4;
}

#score{
    font-size: 50px;
    color: white;
    padding-left: 130px;
}
#league{
    font-size: 30px;
    color: white;
    padding-left: 130px;
    padding-bottom: 100px;
}